# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Websites\voice converter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
